In [33]:
import numpy as np
import pandas as pd

In [34]:
d = {"brand": "Ford",
     "model": "Mustang",
     "year": 1964}

In [35]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [36]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [37]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [38]:
my_index = ['Mango', 'Orange', 'Apple', 'Banana', "Luci", "Shawan"]

In [39]:
my_data = [2050, 1205, 2305, 1508, 2003, 4003]

In [40]:
my_series = pd.Series(data=my_data, index=my_index)

In [41]:
my_series

Mango     2050
Orange    1205
Apple     2305
Banana    1508
Luci      2003
Shawan    4003
dtype: int64

In [42]:
type(my_series)

pandas.core.series.Series

In [43]:
my_series[2]

2305

In [44]:
my_series['Banana']

1508

In [45]:
ages = {'Tom': 12, 'Luci': 22, 'Shawan': 25}

In [46]:
age_series = pd.Series(ages)

In [47]:
age_series

Tom       12
Luci      22
Shawan    25
dtype: int64

In [48]:
type(age_series)

pandas.core.series.Series

In [49]:
age_series.keys()

Index(['Tom', 'Luci', 'Shawan'], dtype='object')

In [50]:
age_series.values

array([12, 22, 25])

In [51]:
age_series.items

<bound method Series.items of Tom       12
Luci      22
Shawan    25
dtype: int64>

### Can broadcast in pandas series

In [52]:
my_series / 2

Mango     1025.0
Orange     602.5
Apple     1152.5
Banana     754.0
Luci      1001.5
Shawan    2001.5
dtype: float64

In [53]:
my_series

Mango     2050
Orange    1205
Apple     2305
Banana    1508
Luci      2003
Shawan    4003
dtype: int64

In [54]:
my_series + age_series

Apple        NaN
Banana       NaN
Luci      2025.0
Mango        NaN
Orange       NaN
Shawan    4028.0
Tom          NaN
dtype: float64

In [55]:
my_series.add(age_series, fill_value=0)

Apple     2305.0
Banana    1508.0
Luci      2025.0
Mango     2050.0
Orange    1205.0
Shawan    4028.0
Tom         12.0
dtype: float64

## DataFrames

In [63]:
np.random.seed(75)
data = np.random.randint(0, 101, (4, 3))

In [69]:
data

array([[19, 81,  8],
       [64, 26, 70],
       [34, 81, 96],
       [71, 55, 70]])

In [65]:
data_columns = ['Jan', 'Feb', 'Mar']

In [71]:
data_index = ['DH', 'CH', 'BS', 'KH']

In [72]:
df = pd.DataFrame(data, data_index, data_columns)

In [73]:
df

    Jan  Feb  Mar
DH   19   81    8
CH   64   26   70
BS   34   81   96
KH   71   55   70

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, DH to KH
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [76]:
df = pd.read_csv("./data/dummy1.csv")

In [77]:
df

   feature1  feature2  feature3  feature4  feature5 feature6
0        12        33        22        12         4    Hello
1        12        32        15        17         3    World
2         5        12        34        32        12     Blah
3         7        19        32        44        33    Hello
4        12        15        16        32        45    World
5        19        43        12        32        53     Blah

In [84]:
df.shape

(6, 6)

In [85]:
df.columns

Index(['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6'], dtype='object')

In [86]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [91]:
df.head(5)

   feature1  feature2  feature3  feature4  feature5 feature6
0        12        33        22        12         4    Hello
1        12        32        15        17         3    World
2         5        12        34        32        12     Blah
3         7        19        32        44        33    Hello
4        12        15        16        32        45    World